<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <main>


    <h1><tt>{{text}}</tt></h1>
    <h2>Новые опции для Вас</h2>
        <ul>
            <li><h3>Опция 1<button>В корзину</button></h3></li>
            <li><h3>Опция 2<button>В корзину</button></h3></li>
            <li><h3>Опция 3<button>В корзину</button></h3></li>
            <li><h3>Опция 4<button>В корзину</button></h3></li>
            <li><h3>Опция 5<button>В корзину</button></h3></li>
        </ul>
    </main>
    <footer>
        Извините, Ваша корзина пуста
    </footer>
<button><a href="http://127.0.0.1:8000/platform">Вернуться обратно</a> </button>
</body>
</html>